body {
    background-color: pink;
    text-align: center;
}

.top-level {
    display: flex;
    flex-direction: row;
}

.first-section {
    padding: 1em;
}

.first-section p {
    margin-right: 1em ;
}

.second-section {
    padding: 1em;
}

.third-section {
    margin-left: auto;
    margin-right: auto;
}

.bottom-level {
    display: flex;
    flex-direction: row;
}

.fifth-section {
    padding: 1em;
}